.products {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  box-sizing: border-box;
  overflow:visible;
}

img{
    width: 200px;
}
mat-card-content{
     flex: 1;
}
mat-card-content p{
    overflow: hidden;
    min-height: 0;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines */
  line-clamp: 2; /* Standard property for compatibility */
  -webkit-box-orient: vertical;
  line-height: 1.4;
  max-height: 2.8em; /* 1.4 line-height * 2 lines */
}

.description.expanded {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  max-height: none;
}

.read-more {
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
  display: block;
  margin-top: 2px;
 text-decoration: none;
}
mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border: 0.1px solid #fc9ad6b0;
  box-shadow: 1px 1px 2px rgba(250, 116, 216, 0.438);
}

img {
  width: 150px;
  max-height: 200px;         /* Fixed height */
  object-fit: cover;     /* Crops to fit nicely */
  border-radius: 4px;
  padding: 5px;
}

mat-card-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-actions button {
  background-color: #f06595;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}